[submodule "themes/bootstrap4"]
	path = themes/bootstrap4
	url = https://github.com/Xzya/hugo-bootstrap
[submodule "themes/worklog"]
	path = themes/worklog
	url = git@github.com:kfdm/hugo-worklog.git
